/* HERO */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Alinea los elementos en la parte superior */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("/assets/img/pantera_fondo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  color: #94f375;
  text-align: center;
  /* position: relative; */
}

/* .wave{
  background-image: url(../img/svg.png);
  margin-bottom: 0;
  position: absolute;
  z-index: 8;
} */

/* MENU */

.menu {
  background-color: #333;
  padding: 10px 0;
  width: 100%;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  
  align-items: flex-end; /* Alineo los elementos al final del contenedor */
}

.menu ul li {
  margin: 0 15px;
  text-align: center;
}

.menu ul li a {
  text-decoration: none;
  color: #ffffff; /* Cambié var(--color-enlace) a #fff */
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
}

/* .active {
box-shadow: var(--color-boxshadow);
border-radius: 5px;
} */

.menu ul li a:hover {
color: var(--color-link);

}
/* ----------------INDEX ------------------------ */

/* H1 TITULO PRINCIPAL DEL INDEX */
.titulo_principal {
margin-top: 80%; /* Ajusta según sea necesario para centrar verticalmente */
color: var(--titulo-principal-color); /* Color del texto */
font-size: 36px; /* Tamaño de la fuente, ajusta según sea necesario */
text-align: center; /* Centra el texto horizontalmente */
font-family: var(--font-family-titulo);
}

/* ----------------HISTORIA ------------------------ */

/* H1 TITULO DE LA HISTORIA */
.titulo_historia {
  margin-top: 80%; /* Ajusta según sea necesario para centrar verticalmente */
  color: var(--titulo-principal-color); /* Color del texto */
  font-size: 36px; /* Tamaño de la fuente, ajusta según sea necesario */
  text-align: center; /* Centra el texto horizontalmente */
  font-family: var(--font-family-titulo);
}

.parrafo_primera_section {
  color: dimgrey;
  text-align: center;
  border-style: double;
  margin-top: 8px;
}

/* SECTION DE LA HISTORIA */
.primer_section {
  text-align: justify;
  padding: 15px;
}

/*----------------- GALERIA ------------------- */

/* H1 TITULO DE LA GALERIA */
.titulo_galeria {
  margin-top: 80%; /* Ajusta según sea necesario para centrar verticalmente */
  color: #a4f81d; /* Color del texto */
  font-size: 36px; /* Tamaño de la fuente, ajusta según sea necesario */
  text-align: center; /* Centra el texto horizontalmente */
  font-family: var(--font-family-titulo);
}

/* CONTENEDOR IMG */

.container_img{
    display: flex;
    justify-content: space-between;
}

.galeria_project{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    flex-basis: 80%;
}

.img_contenedor{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
.img_contenedor img{
    width: 180px;
    height: 180px;
    border-radius: 10px;
    box-shadow: 10px 0 5px 5px rgba(84, 84, 83, 0.507);
    
}

.img_info .titulo_1{
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 30px;
}

.titulo_1::before {
    content: "🪄";
  }

.img_info p{
    text-align: justify;
    margin: 30px;
}

/* LINEA */
hr{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 30%;
   
}




/* .container_galeria {
 display: flex;
  margin: 20px;
  width: 90%;
} */

/* .container_div_galeria{
    display: flex;
    flex-direction: column;
    background-color: #c42ea8;
    flex-wrap: wrap;
    
} */

/* .contenedor_img {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 13px;
} */
/* 
.titulo_secundario {
  font-size: 1rem;
  margin-top: 15px;
  text-align: center;
} */

/* .imagen {
  width: 150px;
  height: 150px;
  object-fit: cover;
  box-shadow: 10px 0 5px 5px rgba(84, 84, 83, 0.507);
  transform: skew(15deg, 18deg);
  margin: 17px;
} */

/* ------------- CONTACTO ---------- */

.consulta {
  color: var(--titulo-principal-color);
  text-align: center;
  margin: 10px;
}

.consulta::before {
  content: "👉";
}

.container_contacto {
    margin: 15px;
  
}

.container_formulario{
    display: flex;
    justify-content: center;
    align-items: center;
}



input[type="text"],
input[type="email"],
input[type="radio"],
textarea {
  border: 1px solid #c9c9c9;
  box-shadow: 0 0 2px #cccccc inset;
  padding: 1px;
  color: gray;
  transition: all 300ms;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="radio"]:focus,
textarea:focus {
  color: black;
}

input[type=submit] {
  display: block;
  border-radius: 2px;
  width: 100%;
  padding: 3px;
  background-color: #82be7a;
  cursor: pointer;
  margin-top: 4px;
  margin-bottom: 4px;
}

input[type="submit"]:hover {
  box-shadow: 0px 0px 2px #c42ea8;
}

.formulario_consulta label input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  margin-top: 2px;
  margin-bottom: 20px;
}

input[type="radio"]:checked + label {
  color: #333;
  background-color: #82be7a;
  border-radius: 3px;
  padding: 4px;
}


/* FOOTER */

.footer-container{
display: flex;
justify-content: center;
gap: 10px;
margin-top: 30PX;
}



/* Media query para pantallas más pequeñas*/
@media screen and (max-width: 320px) {

    .menu-iconos{
        display: flex;
        justify-content: flex-end;
        padding:20px;
    }

    #navbar:target ul{
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
        padding: 30px;
        /* height: 100dvh; */
      }

      .close{
        display: none;
      }

      #navbar:target .open{
        display: none;
       
      }

      #navbar:target .close{
        display: block;
       
      }

    .menu ul li a{
        color:rgb(186, 61, 16);

    }
    .menu ul {
      align-items: flex-start; /* Alineo los elementos al inicio en dispositivos móviles */
      display: flex;
      flex-direction: column;
    }
  }